
.OUTLINE {
    stroke-linejoin:round;
    stroke: #585656d0;
    stroke-width: 4;
}
path{
    fill:"rgb(166, 166, 166)"
}
#CD11:hover {
    fill: #f1c40f;
}
#CD26:hover {
    fill: #16a085;
}
#CD27:hover {
    fill: #f39c12;
}
#CD28:hover {
    fill: #2ecc71;
}
#CD29:hover {
    fill: #e67e22;
}
#CD30:hover {
    fill: #27ae60;
}
#CD31:hover {
    fill: #d35400;
}
#CD36:hover {
    fill: #3498db;
}
#CD41:hover {
    fill: #e74c3c;
}
#CD42:hover {
    fill: #2980b9;
}
#CD43:hover {
    fill: #c0392b;
}
#CD44:hover {
    fill: #9b59b6;
}
#CD45:hover {
    fill: #8e44ad;
}
#CD46:hover {
    fill: #34495e;
}
#CD47:hover {
    fill: #2c3e50;
}
#CD48:hover {
    fill: #1abc9c;
}
#CD50:hover {
    fill: #f1c40f;
}
.TEXT {
    fill: #000000;
    font-size: 1.5hv;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}
