.mapfont{
    font-size:4em;
    font-weight: bold;
    text-shadow: 3em;
}

.TEXT {
    fill: #fcf5f5;
}
path {
    fill :rgb(166, 166, 166);
    stroke: white;
    stroke-width: 2px;
}

.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-Width: 2;
}
.LINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-Width: 1;
    fill: none;
}
.POINT {
    stroke: #ffffff;
    stroke-Width: 1;
    fill: #ffffff;
}

.tip{
    background: gray;
    border: solid 2px;
    border-radius: 2em;
    padding: 0.1em;
    transition: 1s;
}
